@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media (min-width: 2100px) {
  body {
    font-size: 21px; } }

@media (min-width: 2200px) {
  body {
    font-size: 22px; } }

@media (min-width: 2300px) {
  body {
    font-size: 23px; } }

@media (min-width: 2400px) {
  body {
    font-size: 24px; } }

@media (min-width: 2500px) {
  body {
    font-size: 25px; } }

@media (min-width: 2600px) {
  body {
    font-size: 26px; } }

@media (min-width: 2700px) {
  body {
    font-size: 27px; } }

@media (min-width: 2800px) {
  body {
    font-size: 28px; } }

@media (min-width: 2900px) {
  body {
    font-size: 29px; } }

@media (min-width: 3000px) {
  body {
    font-size: 30px; } }

@media (min-width: 3100px) {
  body {
    font-size: 31px; } }

@media (min-width: 3200px) {
  body {
    font-size: 32px; } }

@media (min-width: 3300px) {
  body {
    font-size: 33px; } }

@media (min-width: 3400px) {
  body {
    font-size: 34px; } }

@media (min-width: 3500px) {
  body {
    font-size: 35px; } }

@media (min-width: 3600px) {
  body {
    font-size: 36px; } }

@media (min-width: 3700px) {
  body {
    font-size: 37px; } }

@media (min-width: 3800px) {
  body {
    font-size: 38px; } }

@media (min-width: 3900px) {
  body {
    font-size: 39px; } }

@media (min-width: 4000px) {
  body {
    font-size: 40px; } }

@media (min-width: 4100px) {
  body {
    font-size: 41px; } }

@media (min-width: 4200px) {
  body {
    font-size: 42px; } }

@media (min-width: 4300px) {
  body {
    font-size: 43px; } }

@media (min-width: 4400px) {
  body {
    font-size: 44px; } }

@media (min-width: 4500px) {
  body {
    font-size: 45px; } }

@media (min-width: 4600px) {
  body {
    font-size: 46px; } }

@media (min-width: 4700px) {
  body {
    font-size: 47px; } }

@media (min-width: 4800px) {
  body {
    font-size: 48px; } }

@media (min-width: 4900px) {
  body {
    font-size: 49px; } }

@media (min-width: 5000px) {
  body {
    font-size: 50px; } }

@media (min-width: 5100px) {
  body {
    font-size: 51px; } }

@media (min-width: 5200px) {
  body {
    font-size: 52px; } }

@media (min-width: 5300px) {
  body {
    font-size: 53px; } }

@media (min-width: 5400px) {
  body {
    font-size: 54px; } }

@media (min-width: 5500px) {
  body {
    font-size: 55px; } }

@media (min-width: 5600px) {
  body {
    font-size: 56px; } }

@media (min-width: 5700px) {
  body {
    font-size: 57px; } }

@media (min-width: 5800px) {
  body {
    font-size: 58px; } }

@media (min-width: 5900px) {
  body {
    font-size: 59px; } }

@media (min-width: 6000px) {
  body {
    font-size: 60px; } }

@media (min-width: 6100px) {
  body {
    font-size: 61px; } }

@media (min-width: 6200px) {
  body {
    font-size: 62px; } }

@media (min-width: 6300px) {
  body {
    font-size: 63px; } }

@media (min-width: 6400px) {
  body {
    font-size: 64px; } }

@media (min-width: 6500px) {
  body {
    font-size: 65px; } }

@media (min-width: 6600px) {
  body {
    font-size: 66px; } }

@media (min-width: 6700px) {
  body {
    font-size: 67px; } }

@media (min-width: 6800px) {
  body {
    font-size: 68px; } }

@media (min-width: 6900px) {
  body {
    font-size: 69px; } }

@media (min-width: 7000px) {
  body {
    font-size: 70px; } }

@media (min-width: 7100px) {
  body {
    font-size: 71px; } }

@media (min-width: 7200px) {
  body {
    font-size: 72px; } }

@media (min-width: 7300px) {
  body {
    font-size: 73px; } }

@media (min-width: 7400px) {
  body {
    font-size: 74px; } }

@media (min-width: 7500px) {
  body {
    font-size: 75px; } }

@media (min-width: 7600px) {
  body {
    font-size: 76px; } }

@media (min-width: 7700px) {
  body {
    font-size: 77px; } }

@media (min-width: 7800px) {
  body {
    font-size: 78px; } }

@media (min-width: 7900px) {
  body {
    font-size: 79px; } }

@media (min-width: 8000px) {
  body {
    font-size: 80px; } }

@media screen and (max-width: 500px) {
  .banner__img {
    display: none; }
  .collection__man__img img,
  .new__handbags__info img,
  .feature__handbags__info img {
    width: 100%; }
  .collection__woman {
    margin-top: 2.66667em; }
  .collection__woman, .collection__girl {
    float: none;
    width: 100%; }
  .collection__man__info, .collection__woman__info, .collection__girl__info {
    padding-left: 1em; }
  .collection__woman__img, .collection__girl__img {
    padding: 0; }
  .collection__woman__img {
    margin-left: -20%; }
  .blog__img, .blog__info {
    margin: 0;
    width: 100%; }
  .blog__info {
    margin-top: 2em; }
  .last-post__handbags__info img {
    width: 100%; }
  .last-post__handbags .left, .last-post__handbags .center, .last-post__handbags .right,
  .feature__handbags .left,
  .feature__handbags .center,
  .feature__handbags .right,
  .new__handbags .left,
  .new__handbags .center,
  .new__handbags .right {
    padding: 15px; } }
