@import url(../css/bootstrap.css);
@import url(../css/select2.css);
@import url(../fonts/font-face.css);
@import url(../css/bootstrap-grid.min.css);
body {
  font-family: PlayfairDisplay, sans-serif;
  font-size: 18px; }

header .top {
  background-color: #e1e1e1;
  padding: 0.88889em 0 0.83333em; }
  header .top img {
    float: left; }

.top__call,
.top__mail {
  display: inline-block;
  padding: 0.66667em 0.55556em; }
  .top__call img,
  .top__mail img {
    margin: 0.16667em 0.27778em 0; }

.top__call__text,
.top__mail__text {
  font: 0.66667em Oswald, sans-serif;
  font-weight: 300;
  color: #656565;
  margin-bottom: 0;
  display: table-cell; }

.top__header {
  font: 1.66667em PlayfairDisplay, sans-serif; }

.text-right {
  padding-right: 0; }

.top__form {
  font: 0.66667em Oswald, sans-serif; }
  .top__form .nav-link {
    color: #656565; }

.top__form__nav {
  float: right; }
  .top__form__nav .nav-link {
    padding: 1.11111em 0.83333em; }

.menu__form,
.menu__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.menu__form,
.top__header,
.top__form {
  text-transform: uppercase;
  font-weight: 300; }

.menu__form {
  font: 0.72222em Oswald, sans-serif;
  padding: 1em 0; }
  .menu__form .nav-link {
    color: #424242; }

.menu__search {
  padding: 1.11111em 0;
  color: #656565; }
  .menu__search p {
    font: 0.66667em Oswald, sans-serif;
    font-weight: 300;
    margin: 0.38889em 0 0; }

.menu__search__shop {
  padding: 0 1.11111em 0 0.27778em;
  font-size: 0.72222em; }

.menu__search__second {
  font-size: 0.72222em;
  display: inline-block; }
  .menu__search__second .search-toggle {
    width: 0.94444em;
    height: 0.94444em;
    cursor: pointer; }

.search_container .search {
  width: 100%;
  height: 3.33333em;
  position: fixed;
  margin: 0;
  top: -3.33333em;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  background: transparent;
  z-index: 2000;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  overflow: inherit !important; }
  .search_container .search ul {
    list-style: none;
    margin: 0.27778em;
    padding: 0; }
    .search_container .search ul a {
      position: absolute;
      top: 0.11111em;
      right: 2.22222em;
      width: 0.94444em;
      height: 0.94444em; }
      .search_container .search ul a .cls-2 {
        fill: #000000; }

.search_container .mask-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0; }

.banner {
  background-color: #f4f4f4;
  max-height: 32.55556em; }

.banner__info h1 {
  font: 4em PlayfairDisplay, sans-serif;
  line-height: 0.76;
  color: #a4836d;
  text-transform: uppercase; }

.banner__info p {
  font: 0.77778em Oswald, sans-serif;
  font-weight: 300;
  line-height: 2;
  color: #9d9d9d;
  margin: 34px 0 36px; }

.btn,
.form-control {
  border-radius: 0; }

.banner__info__black,
.banner__info__brown {
  color: #ffffff;
  font: 0.72222em Oswald, sans-serif;
  line-height: 2.15;
  font-weight: 300;
  border: 0;
  width: 111px;
  height: 40px;
  text-transform: uppercase; }

.banner__info__black {
  background-color: #424242; }

.banner__info__brown {
  background-color: #a4836d;
  margin-left: 1.38889em; }
  .banner__info__brown:hover {
    background-color: #bd8662; }

.collection {
  margin-top: 2.77778em; }
  .collection .col-md-6 {
    padding: 0; }

.collection__man__info {
  text-transform: uppercase;
  position: absolute;
  top: 75%;
  -webkit-transform: translate(0, -75%);
  -ms-transform: translate(0, -75%);
  transform: translate(0, -75%);
  padding-left: 2.77778em; }
  .collection__man__info h1 {
    font: 4em PlayfairDisplay, sans-serif;
    color: #a4836d;
    text-transform: uppercase; }
  .collection__man__info h3 {
    font: 1.66667em Oswald, sans-serif;
    font-weight: 200;
    color: #9d9d9d;
    margin: 18px 0 21px; }

.collection__man__info__brown {
  background-color: #a4836d;
  color: #ffffff;
  font: 0.72222em Oswald, sans-serif;
  line-height: 2.15;
  font-weight: 300;
  border: 0;
  width: 111px;
  height: 40px;
  text-transform: uppercase; }
  .collection__man__info__brown:hover {
    background-color: #bd8662; }

.collection__woman,
.collection__girl {
  background-color: #f4f4f4;
  width: 30.27778em;
  height: 16.94444em;
  float: right; }

.collection__girl {
  margin-top: 2.66667em; }

.collection__woman__info,
.collection__girl__info {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 2.55556em;
  z-index: 1; }
  .collection__woman__info h1,
  .collection__girl__info h1 {
    font: 4em PlayfairDisplay, sans-serif;
    color: #a4836d;
    text-transform: uppercase; }
  .collection__woman__info h3,
  .collection__girl__info h3 {
    font: 1.66667em Oswald, sans-serif;
    font-weight: 200;
    color: #9d9d9d;
    margin: 18px 0 21px 6px; }

.collection__woman__info__brown,
.collection__girl__info__brown {
  background-color: #a4836d;
  color: #ffffff;
  font: 0.72222em Oswald, sans-serif;
  line-height: 2.15;
  font-weight: 300;
  border: 0;
  width: 111px;
  height: 40px;
  text-transform: uppercase;
  margin-left: 0.5em; }
  .collection__woman__info__brown:hover,
  .collection__girl__info__brown:hover {
    background-color: #bd8662; }

.collection__woman__img,
.collection__girl__img {
  height: 16.66667em;
  overflow: hidden;
  position: relative;
  padding-left: 1.66667em; }

.new {
  margin-top: 3.88889em; }

.new__header h1 {
  font: 2em Oswald, sans-serif;
  color: #424242;
  line-height: 0.61;
  text-transform: uppercase; }

.new__header p {
  font: 0.77778em Oswald, sans-serif;
  font-weight: 300;
  color: #9d9d9d;
  margin: 1.11111em 0; }

.new__handbags .left,
.feature__handbags .left {
  padding-left: 0; }

.new__handbags .center,
.feature__handbags .center {
  padding: 0; }

.new__handbags .right,
.feature__handbags .right {
  padding-right: 0; }

.new__handbags__info {
  margin-top: 2.77778em; }
  .new__handbags__info h5 {
    padding-top: 1.66667em;
    font: 0.77778em Oswald, sans-serif;
    color: #424242;
    line-height: 1.57;
    text-transform: uppercase; }
  .new__handbags__info p {
    font: 0.77778em PlayfairDisplay, sans-serif;
    color: #9d9d9d; }

.discount {
  background-color: #f7f7f9;
  margin-top: 2.77778em; }

.discount__info {
  padding: 3.88889em 0; }
  .discount__info h1 {
    font: 2em PlayfairDisplay, sans-serif;
    color: #424242;
    line-height: 0.61;
    margin-bottom: 15px; }
  .discount__info p {
    font: 0.77778em Oswald, sans-serif;
    font-weight: 300;
    color: #9d9d9d;
    line-height: 1.57; }

.discount__info__input {
  margin: 1.94444em 0 2.22222em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .discount__info__input .form_control {
    width: 21.66667em;
    display: block;
    padding: 0.83333em 1.38889em;
    font: 0.77778em Oswald, sans-serif;
    font-weight: 300;
    line-height: 2;
    color: #9d9d9d;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.02778em solid #b9b9b9;
    border-radius: 0; }
  .discount__info__input .btn {
    font: 0.72222em Oswald, sans-serif;
    line-height: 2.15;
    font-weight: 300;
    padding: 0.83333em 1.66667em; }

.feature {
  margin-top: 3.88889em; }

.feature__header h1 {
  font: 2em Oswald, sans-serif;
  color: #424242;
  line-height: 0.61;
  font-weight: 300;
  text-transform: uppercase; }

.feature__header p {
  font: 0.77778em Oswald, sans-serif;
  font-weight: 300;
  color: #9d9d9d;
  margin: 1.11111em 0; }

.feature__handbags__info {
  margin-top: 2.77778em; }
  .feature__handbags__info h5 {
    padding-top: 1.66667em;
    font: 0.77778em Oswald, sans-serif;
    font-weight: 300;
    color: #424242;
    line-height: 1.57;
    text-transform: uppercase; }
  .feature__handbags__info p {
    font: 0.77778em PlayfairDisplay, sans-serif;
    color: #9d9d9d;
    margin-bottom: 1.25rem; }

.lookbook {
  background-color: #f7f7f9;
  margin-top: 2.77778em; }

.lookbook__info {
  padding: 4.44444em 0; }
  .lookbook__info h1 {
    font: 2em PlayfairDisplay, sans-serif;
    color: #424242;
    margin-bottom: 1.3rem; }
  .lookbook__info p {
    font: 0.77778em Oswald, sans-serif;
    font-weight: 300;
    color: #9d9d9d;
    line-height: 2;
    margin-bottom: 1.9rem; }

.lookbook__info__black {
  font: 0.72222em Oswald, sans-serif;
  line-height: 2.15;
  font-weight: 300;
  padding: 0.83333em 1.66667em;
  color: #ffffff;
  background-color: #424242;
  text-transform: uppercase; }

.blog {
  padding: 3.88889em 0; }

.blog__img {
  margin: 0 4.44444em; }
  .blog__img img {
    width: 100%; }

.blog__info {
  width: 28.88889em;
  margin-left: -70%;
  background-color: rgba(247, 247, 249, 0.89);
  padding: 1.94444em 1.38889em; }
  .blog__info h5 {
    font: italic 1em PlayfairDisplay, sans-serif;
    color: #424242; }
  .blog__info p {
    font: 0.77778em Oswald, sans-serif;
    font-weight: 300;
    color: #9d9d9d;
    line-height: 2;
    margin-bottom: 0.9rem; }

.blog__info__black {
  font: 0.72222em Oswald, sans-serif;
  line-height: 2.15;
  font-weight: 300;
  padding: 0.55556em 1.66667em;
  color: #ffffff;
  background-color: #424242;
  text-transform: uppercase;
  opacity: 1; }

.last-post {
  margin-top: 3.88889em; }

.last-post__header h1 {
  font: 2em Oswald, sans-serif;
  color: #424242;
  line-height: 0.61;
  text-transform: uppercase; }

.last-post__header p {
  font: 0.77778em Oswald, sans-serif;
  font-weight: 300;
  color: #9d9d9d;
  margin: 1.11111em 0; }

.last-post__handbags .left,
.feature__handbags .left {
  padding-left: 0; }

.last-post__handbags .center,
.feature__handbags .center {
  padding: 0 0 0 0.44444em; }

.last-post__handbags .right,
.feature__handbags .right {
  padding-right: 0; }

.last-post__handbags__info {
  margin-top: 2.77778em;
  margin-bottom: 3.88889em; }
  .last-post__handbags__info h5 {
    padding-top: 1.66667em;
    font: 0.77778em Oswald, sans-serif;
    color: #424242;
    line-height: 1.57;
    text-transform: uppercase; }
  .last-post__handbags__info p {
    font: 0.77778em PlayfairDisplay, sans-serif;
    color: #9d9d9d; }

footer {
  background-color: #f4f4f4;
  padding: 3.88889em 0; }

.footer__info,
.footer__text {
  font: 0.77778em Oswald, sans-serif;
  padding: 1em 0;
  line-height: 1.57;
  font-weight: 300;
  text-transform: uppercase;
  color: #9d9d9d; }
  .footer__info .nav-link,
  .footer__text .nav-link {
    color: #9d9d9d; }

.footer__info__nav,
.footer__social__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
