@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@for $i from 1 through 60 {
  @media(min-width: 2000px + ($i * 100)) {
    body {
      font-size: 20px + $i;
    }
  };
}
@media screen and (max-width: 500px) {
  .banner__img{
    display: none;
  }
  .collection__man__img,
  .new__handbags__info,
  .feature__handbags__info{
    img{
      width: 100%;
    }
  }
  .collection__woman{
    margin-top: 2.66667em;
  }
  .collection__woman, .collection__girl{    
    float: none;
    width: 100%;
  }
  .collection__man__info, .collection__woman__info, .collection__girl__info{
    padding-left: 1em;
  }
  .collection__woman__img, .collection__girl__img{
    padding: 0;
  }
  .collection__woman__img{
    margin-left: -20%;
  }
  .blog__img, .blog__info{
    margin: 0;
    width: 100%;
  }
  .blog__info{
    margin-top: 2em;
  }
  .last-post__handbags__info{
    img{
      width: 100%;
    }
  }
  .last-post__handbags,
  .feature__handbags,
  .new__handbags,{
    .left, .center, .right{
      padding: 15px;
    }
  }
}