@import '../css/bootstrap.css';
@import '../fonts/font-face.css';
@import '../css/bootstrap-grid.min.css';

//Methods
$browser-context: 18;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Colors
$black: #424242;
$white: #ffffff;
$brown: #a4836d;
$gray: #9d9d9d;

//Vars
$playfairdisplay: PlayfairDisplay, sans-serif;
$oswald: Oswald, sans-serif;
$montserrat-regular: Montserrat-regular, sans-serif;
$montserrat-semibold: Montserrat-semibold, sans-serif;
$montserrat-bold: Montserrat-bold, sans-serif;

body{
	font-family: $playfairdisplay;
	font-size: #{$browser-context}px;
}
header{
	.top{
		background-color: #e1e1e1;
		padding: em(16) 0 em(15);
		img{
			float: left;
		}
	}
}
.top__call,
.top__mail{
	display: inline-block;
	padding: em(12) em(10);
	img{
		margin: em(3) em(5) 0;
	}
}
.top__call__text,
.top__mail__text{
	font: em(12) $oswald;
	font-weight: 300;
	color: #656565;
	margin-bottom: 0;
	display: table-cell;
}
.top__header{
	font: em(30) $playfairdisplay;
}
.text-right{
	padding-right: 0;
}
.top__form{
	font: em(12) $oswald;
	.nav-link{
		color: #656565;
	}
}
.top__form__nav{
	float: right;
	.nav-link{
		padding: em(20) em(15);
	}
}
.menu__form,
.menu__search{
	display: inline-flex;
}
.menu__form,
.top__header,
.top__form{
	text-transform: uppercase;
	font-weight: 300;
}
.menu__form{
	font: em(13) $oswald;
	padding: em(18) 0;
	.nav-link{
		color: $black;
	}
}
.menu__search{
	padding: em(20) 0;
	color: #656565;
	p{
		font: em(12) $oswald;
		font-weight: 300;
		margin: em(7) 0 0;
	}
}
.menu__search__shop{
	padding: 0 em(20) 0 em(5);
	font-size: em(13);
}
.menu__search__second {
	font-size: em(13);
	display: inline-block;
	.search-toggle {
	width: em(17);
	height: em(17);
	cursor: pointer;
	}
}
.search_container{
	.search {
		width: 100%;
		height: em(60);
		position: fixed;
		margin: 0;
		top: em(-60);
		-webkit-transition: top 0.3s;
		-moz-transition: top 0.3s;
		transition: top 0.3s;
		background: transparent;
		z-index: 2000;
		box-shadow: none !important;
		overflow: inherit !important;
		ul{
			list-style: none;
			margin: em(5);
			padding: 0;
			a{
				position: absolute;
				top: em(2);
				right: em(40);
				width: em(17);
				height: em(17);
				.cls-2 {
					fill: #000000;
				}
			}
		}
	}
	.mask-content {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		visibility: hidden;
		opacity: 0;
	} 
}
.banner{
	background-color: #f4f4f4;
	max-height: em(586);
}
.banner__info{
	h1{
	  font: em(72) $playfairdisplay;
	  line-height: 0.76;
	  color: $brown;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $oswald;
	  font-weight: 300;
	  line-height: 2;
	  color: $gray;
	  margin: 34px 0 36px;
	}
}
.btn,
.form-control{
	border-radius: 0;
}
.banner__info__black,
.banner__info__brown{
	color: $white;
	font: em(13) $oswald;
	line-height: 2.15;
	font-weight: 300;
	border: 0;
	width: 111px;
  height: 40px;
  text-transform: uppercase;
}
.banner__info__black{
	background-color: $black;
}
.banner__info__brown{
	background-color: $brown;
	margin-left: em(25);
	&:hover{
		background-color: #bd8662;
	}
}
.collection{
	margin-top: em(50);
	.col-md-6{
		padding: 0;
	}
}
.collection__man__info{
	text-transform: uppercase;
	position: absolute;
	top: 75%;
	transform: translate(0, -75%);
	padding-left: em(50);
	h1{
	  font: em(72) $playfairdisplay;
	  color: $brown;
	  text-transform: uppercase;
	}
	h3{
	  font: em(30) $oswald;
	  font-weight: 200;
	  color: $gray;
	  margin: 18px 0 21px;
	}
}
.collection__man__info__brown{
	background-color: $brown;
	color: $white;
	font: em(13) $oswald;
	line-height: 2.15;
	font-weight: 300;
	border: 0;
	width: 111px;
  height: 40px;
  text-transform: uppercase;
  &:hover{
		background-color: #bd8662;
	}
}
.collection__woman,
.collection__girl{
	background-color: #f4f4f4;
  width: em(545);
  height: em(305);
  float: right;
}
.collection__girl{
	margin-top: em(48);
}
.collection__woman__info,
.collection__girl__info{
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding-left: em(46);
	z-index: 1;
	h1{
	  font: em(72) $playfairdisplay;
	  color: $brown;
	  text-transform: uppercase;
	}
	h3{
	  font: em(30) $oswald;
	  font-weight: 200;
	  color: $gray;
	  margin: 18px 0 21px 6px;
	}
}
.collection__woman__info__brown,
.collection__girl__info__brown{
	background-color: $brown;
	color: $white;
	font: em(13) $oswald;
	line-height: 2.15;
	font-weight: 300;
	border: 0;
	width: 111px;
  height: 40px;
  text-transform: uppercase;
  margin-left: em(9);
  &:hover{
		background-color: #bd8662;
	}
}
.collection__woman__img,
.collection__girl__img{
	height: em(300);
	overflow: hidden;
	position: relative;
	padding-left: em(30);
}
.new{
	margin-top: em(70);
}
.new__header{
	h1{
	  font: em(36) $oswald;
	  color: $black;
	  line-height: 0.61;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $oswald;
	  font-weight: 300;
	  color: $gray;
	  margin: em(20) 0;
	}
}
.new__handbags,
.feature__handbags{
	.left{
		padding-left: 0;
	}
	.center{
		padding: 0;
	}
	.right{
		padding-right: 0;
	}
}
.new__handbags__info{
	margin-top: em(50);
	h5{
		padding-top: em(30);
	  font: em(14) $oswald;
	  color: $black;
	  line-height: 1.57;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $playfairdisplay;
	  color: $gray;
	}
}
.discount{
	background-color: #f7f7f9;
	margin-top: em(50);
}
.discount__info{
	padding: em(70) 0;
	h1{
		font: em(36) $playfairdisplay;
	  color: $black;
	  line-height: 0.61;
	  margin-bottom: 15px;
	}
	p{
		font: em(14) $oswald;
		font-weight: 300;
	  color: $gray;
	  line-height: 1.57;
	}
}
.discount__info__input{
	margin: em(35) 0 em(40);
	justify-content: center;
	.form_control{
		width: em(390);
    display: block;
    padding: em(15) em(25);
    font: em(14) $oswald;
    font-weight: 300;
    line-height: 2;
    color: $gray;
    background-color: #ffffff;
    background-clip: padding-box;
    border: em(0.5) solid #b9b9b9;
    border-radius: 0;
	}
	.btn{
		font: em(13) $oswald;
		line-height: 2.15;
		font-weight: 300;
		padding: em(15) em(30);
	}
}
.feature{
	margin-top: em(70);
}
.feature__header{
	h1{
	  font: em(36) $oswald;
	  color: $black;
	  line-height: 0.61;
	  font-weight: 300;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $oswald;
	  font-weight: 300;
	  color: $gray;
	  margin: em(20) 0;
	}
}
.feature__handbags__info{
	margin-top: em(50);
	h5{
		padding-top: em(30);
	  font: em(14) $oswald;
	  font-weight: 300;
	  color: $black;
	  line-height: 1.57;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $playfairdisplay;
	  color: $gray;
	  margin-bottom: 1.25rem;
	}
}
.lookbook{
	background-color: #f7f7f9;
	margin-top: em(50);
}
.lookbook__info{
	padding: em(80) 0;
	h1{
		font: em(36) $playfairdisplay;
	  color: $black;
	  margin-bottom: 1.3rem;
	}
	p{
		font: em(14) $oswald;
		font-weight: 300;
	  color: $gray;
	  line-height: 2;
	  margin-bottom: 1.9rem;
	}
}
.lookbook__info__black{
	font: em(13) $oswald;
	line-height: 2.15;
	font-weight: 300;
	padding: em(15) em(30);
	color: $white;
	background-color: $black;
	text-transform: uppercase;
}
.blog{
	padding: em(70) 0;
}
.blog__img{
	margin: 0 em(80);
	img{
		width: 100%;
	}
}
.blog__info{
	width: em(520);
	margin-left: -70%;
  background-color: rgba(247, 247, 249, 0.89);
  padding: em(35) em(25);
  h5{
  	font: italic em(18) $playfairdisplay;
  	color: $black;
  }
  p{
  	font: em(14) $oswald;
		font-weight: 300;
	  color: $gray;
	  line-height: 2;
	  margin-bottom: 0.9rem;
  }
}
.blog__info__black{
	font: em(13) $oswald;
	line-height: 2.15;
	font-weight: 300;
	padding: em(10) em(30);
	color: $white;
	background-color: $black;
	text-transform: uppercase;
	opacity: 1;
}
.last-post{
	margin-top: em(70);
}
.last-post__header{
	h1{
	  font: em(36) $oswald;
	  color: $black;
	  line-height: 0.61;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $oswald;
	  font-weight: 300;
	  color: $gray;
	  margin: em(20) 0;
	}
}
.last-post__handbags,
.feature__handbags{
	.left{
		padding-left: 0;
	}
	.center{
		padding: 0 0 0 em(8);
	}
	.right{
		padding-right: 0;
	}
}
.last-post__handbags__info{
	margin-top: em(50);
	margin-bottom: em(70);
	h5{
		padding-top: em(30);
	  font: em(14) $oswald;
	  color: $black;
	  line-height: 1.57;
	  text-transform: uppercase;
	}
	p{
	  font: em(14) $playfairdisplay;
	  color: $gray;
	}
}
footer{
	background-color: #f4f4f4;
	padding: em(70) 0;
}
.footer__info,
.footer__text{
	font: em(14) $oswald;
	padding: em(18) 0;
	line-height: 1.57;
	font-weight: 300;
	text-transform: uppercase;
	color: $gray;
	.nav-link{
		color: $gray;
	}
}
.footer__info__nav,
.footer__social__nav{
	justify-content: center;
}