
@font-face {
    font-family: PlayfairDisplay;
    src: url(./playfairdisplay.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(./oswald.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ;
    src: url(./.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ;
    src: url(./.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ;
    src: url(./.ttf);
    font-weight: normal;
    font-style: normal;
}

